<div class="widget__background">
    <div class="widget__card">
        <p-panel header="{{headerString}}" [toggleable]="true">
            <ng-template pTemplate="icons">
                    <span class= "standard-panel--icons">
                        <p-inputSwitch [(ngModel)]="checked" (click)="toggleClicked()"></p-inputSwitch>
                    </span>
            </ng-template>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat
                cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        </p-panel>
    </div>
</div>
