<standard-card [headerString]="'Conditional Validators'" [checked]="checked" (checkedChange)="toggleClicked($event)">
    <form [formGroup]="myForm" class="flex flex-column gap-4">
        <!-- <div *ngIf="checked">
            <validator-toggle [myForm]="myForm" [controlName]="'name'" [validators_object]="validators_object"></validator-toggle>
        </div> -->

        <div class="flex flex-column gap-2">
            <label htmlFor="name">Name</label>
            <div class="{{myForm.get('name').pending?'p-input-icon-right':''}} input__async">
                <ng-container *ngIf="myForm.get('name').pending">
                    <i class="pi pi-spin pi-spinner"></i>
                </ng-container>
                <input pInputText id="name" aria-describedby="name-help" formControlName="name" />
            </div>
            <div *ngIf="myForm.get('name').invalid && (myForm.get('name').touched || myForm.get('name').dirty); else name_help">
                <div *ngIf="myForm.get('name')?.errors" class="p-error">
                    <small *ngIf="myForm.get('name')?.errors['required']">Enter your name</small>
                </div>
            </div>
            <ng-template #name_help><small  id="name-help">Enter your name</small></ng-template>
        </div>
    
        <div *ngIf="checked">
            <p-panel header="console" [toggleable]="true">
                <code>
                    <pre>this.myForm?.get('name').errors:</pre>
                    <pre>{{this.myForm?.get('name').errors|json}}</pre>
                    <pre>this.myForm?.get('name').pending:</pre>
                    <pre>{{this.myForm?.get('name').pending|json}}</pre>
                </code>
            </p-panel>
        </div>

        
        <!-- <div *ngIf="checked">
            <validator-toggle [myForm]="myForm" [controlName]="'alias'" [validators_object]="validators_object"></validator-toggle>
        </div> -->
    
        <div class="flex flex-column gap-2">
            <label htmlFor="alias">Alias</label>
            <div class="{{myForm.get('alias').pending?'p-input-icon-right':''}} input__async">
                    <ng-container *ngIf="myForm.get('alias').pending">
                        <i class="pi pi-spin pi-spinner"></i>
                    </ng-container>
                    <input pInputText id="alias" aria-describedby="alias-help" formControlName="alias" />
            </div>
            <div *ngIf="myForm.get('alias').invalid && (myForm.get('alias').touched || myForm.get('alias').dirty); else alias_help">
                <div *ngIf="myForm.get('alias')?.errors" class="p-error">
                    <small *ngIf="myForm.get('alias')?.errors['required']">Enter your alias</small>
                </div>
            </div>
            <ng-template #alias_help><small  id="alias_help">Enter your alias</small></ng-template>
        </div>
    
        <div *ngIf="checked">
            <p-panel header="console" [toggleable]="true">
                <code>
                    <pre>this.myForm?.get('alias').errors:</pre>
                    <pre>{{this.myForm?.get('alias').errors|json}}</pre>
                    <pre>this.myForm?.get('alias').pending:</pre>
                    <pre>{{this.myForm?.get('alias').pending|json}}</pre>
                </code>
            </p-panel>
        </div>
    
        <b-submit-button [myForm]="myForm" [checked]="checked" (resetEmitted)="onReset()"></b-submit-button>
    </form>
</standard-card>
