//abstracts
@import "../../styles/base/widget.component";

.card{
    &__header{
        padding: 1rem 1.25rem 0rem 1.25rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}

.input{
    &__component{
        margin-top: 1.5rem;
    }
}

@keyframes my-fadein {
    0%   { opacity: 0; }
    100% { opacity: 1; }
}

@keyframes my-fadeout {
    0%   { opacity: 1; }
    100% { opacity: 0; }
}

.my-fadein {
    animation: my-fadein 150ms linear;
}

.my-fadeout {
    animation: my-fadeout 150ms linear;
}