<div class="widget__card">
    <div class="widget__background">
        <div class="widget__card">
            <p-card>
                <ng-template pTemplate="header">
                    <div class="card__header">
                        Header content here
                    </div>
                </ng-template>
                <p-button label="Submit" (click)="loopTheme()"></p-button>
                <p>{{theme}}</p>
            </p-card>
        </div>

    </div>
    <app-s01-status-properties></app-s01-status-properties>
    <app-s02-angular-validators></app-s02-angular-validators>
    <app-s03-custom-validators></app-s03-custom-validators>
    <standard-card></standard-card>
    <standard-panel></standard-panel>
</div>

