<div class="widget__card">
    <div class="widget__background">
        <div class="widget__card">
            <p-card>
                <ng-template pTemplate="header">
                    <div class="card__header">
                        <h2>Input Validation</h2>
                    </div>
                </ng-template>
                <div class="theme--list">
                    <div *ngFor="let theme_item_key of list_of_themes">
                        <div class="theme--item"(click)="switchTheme(THEME[theme_item_key]['stylesheet'])">
                            <img src="{{THEME[theme_item_key]['iconUrl']}}" alt="{{THEME[theme_item_key]['stylesheet']}}"/>
                        </div>    
                    </div>
                </div>

                <!-- <p-button label="Submit" (click)="loopTheme()"></p-button>
                <p>{{theme}}</p> -->
            </p-card>
        </div>

    </div>
    <app-s00-sandbox></app-s00-sandbox>
    <app-s01-status-properties></app-s01-status-properties>
    <app-s02-angular-validators></app-s02-angular-validators>
    <app-s03-custom-validators></app-s03-custom-validators>
    <app-s04-conditional-validators></app-s04-conditional-validators>
    <app-s05-restict-input></app-s05-restict-input>
    <standard-panel></standard-panel>
</div>

