<div class="widget__background">
    <div class="widget__card">
        <p-panel header="{{headerString}}" [toggleable]="true">
            <div>
                A Demo for 
                <ol>
                    <li>
                        AbstractControl Status Properties
                        <ul>                        
                            <li><a href="https://angular.io/api/forms/AbstractControl#properties" target=”_blank”>Abstract control Properties Status</a></li>
                            <li><a href="https://youtu.be/d8XONHXTv_4?t=44" target=”_blank”>Abstract control Properties Status</a></li>
                            <li><a href="https://angular.io/guide/forms#track-control-states" target=”_blank”>Provide visual feedback using special CSS classes that track the status of the controls</a></li>
                        </ul>
                    </li>
                    <li>
                        Angular Build in Vlaidators
                        <ul>                        
                            <li><a href="https://angular.io/guide/form-validation#built-in-validator-functions" target=”_blank”>List of Angular Build in Validators</a></li>
                            <li><a href="https://angular.io/guide/forms#show-and-hide-validation-error-messages" target=”_blank”>Show Hide Validation Error Messages</a></li>
                        </ul>
                    </li>
                    <li>
                        Custom Validators
                        <ul>                        
                            <li><a href="https://angular.io/guide/form-validation#defining-custom-validators" target=”_blank”>Defining custom validators</a></li>
                            <li><a href="https://angular.io/guide/form-validation#creating-asynchronous-validators" target=”_blank”>Defining custom async validators</a></li>
                            <li><a href="https://youtu.be/xbk2-z8gY4M" target=”_blank”>Custom Async Validators</a></li>
                        </ul>
                    </li>
                    <li> 
                        Conditional Validators
                        <ul>                        
                            <li><a href="https://medium.com/ngx/3-ways-to-implement-conditional-validation-of-reactive-forms-c59ed6fc3325" target=”_blank”>3 simple ways to set conditional Validators</a></li>
                            <li><a href="https://angular.io/guide/form-validation#cross-field-validation" target=”_blank”>Angular Cross Field Validation</a></li>
                        </ul>
                    </li>
                    <li>Restrict Inputs using events</li>
                </ol>
            </div>
        </p-panel>
    </div>
</div>
