<standard-card [headerString]="'Status Properties'" [checked]="checked" (checkedChange)="toggleClicked($event)">
    <form [formGroup]="myForm" class="flex flex-column gap-4" (ngSubmit)="onSubmit()">

        <div class="flex flex-column gap-2">
            <label htmlFor="name">Name</label>
            <input pInputText id="name" aria-describedby="name-help" formControlName="name" />
            <small id="name-help">Enter your name</small>
        </div>
    
        <div *ngIf="checked">
            <input-val-status-table [myForm]="myForm.get('name')"></input-val-status-table>
        </div>
    
        <div class="flex flex-column gap-2">
            <label htmlFor="alias">Alias</label>
            <input pInputText id="alias" aria-describedby="alias-help" formControlName="alias" />
            <small id="alias-help">Enter your alias</small>
        </div>
    
        <div *ngIf="checked">
            <input-val-status-table [myForm]="myForm.get('alias')"></input-val-status-table>
        </div>
    
        <p-button label="Submit" type="submit"></p-button>
        <p-panel header="myForm" [toggleable]="true">
            <code>
                <pre>myForm?.value:</pre>
                <pre>{{this.myForm?.value|json}}</pre>
                <pre>myForm?.valid:</pre>
                <pre>{{this.myForm?.valid|json}}</pre>
            </code>
        </p-panel>
        <p-message severity="success" text="Message Content"></p-message> 
        <p-message severity="error" text="Message Content"></p-message> 
    </form>
</standard-card>
