<p>Value: {{myForm.value}}</p>
<p-table [value]="data" [tableStyle]="{ 'min-width': '10rem' }" responsiveLayout="scroll" scrollDirection="horizontal">
    <ng-template pTemplate="header">
        <tr>
            <th>valid</th>
            <th>touched</th>
            <th>pristine</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-data>
        <tr>
            <td>
                <div class="status--item"><span class="status--item--text">valid</span> <span class="pi {{this.myForm.valid?'pi-check-circle':'pi-times-circle'}}"></span></div>
                <div class="status--item"><span class="status--item--text">invalid</span> <span class="pi {{this.myForm.invalid?'pi-check-circle':'pi-times-circle'}}"></span></div>
            </td>
            <td>
                <div class="status--item"><span class="status--item--text">touched</span> <span class="pi {{this.myForm.touched?'pi-check-circle':'pi-times-circle'}}"></span></div>
                <div class="status--item"><span class="status--item--text">untouched</span> <span class="pi {{this.myForm.untouched?'pi-check-circle':'pi-times-circle'}}"></span></div>
            </td>
            <td>
                <div class="status--item"><span class="status--item--text">dirty</span> <span class="pi {{this.myForm.dirty?'pi-check-circle':'pi-times-circle'}}"></span></div>
                <div class="status--item"><span class="status--item--text">pristine</span> <span class="pi {{this.myForm.pristine?'pi-check-circle':'pi-times-circle'}}"></span></div>
            </td>
        </tr>
    </ng-template>
</p-table>
