//abstracts
@import "../../styles/base/widget.component";

.card{
    &__header{
        padding: 1rem 1.25rem 0rem 1.25rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}

.input{
    &__component{
        margin-top: 1.5rem;
    }
}